 /* 导航部分 */
 a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
a:hover{
    color: rgb(228, 228, 55);
}
.header{
    background-color: black;
    width: 100%;
    height: 65px;
    display: flex;
}
.bigGlrer{
    margin-left: 25px;
    margin-top: 15px;
    color: rgb(194, 193, 193);
}
.header>div:nth-child(1){
    margin-left: 40px;
    margin-top: 5px;
}
.stars{
    width: 30px;
    height: 30px; 
    background-image: url(./images/2.png);
    background-repeat: no-repeat;
    background-position:-220px -15px;
}
.header>.smallGrey{
    color: grey;
    font-size: 13px;
    margin-left: 0px;
    margin-top: 22px;
}
.latest{
    display: flex;
    margin-left: 30px;
}
.latest div:nth-child(2){
    margin-left:20px;
}
.latest a{
    font-size: 15px;
    color: rgb(226, 221, 221);
}
.header .searchMusic{
    background-image: url(./images/4.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 180px;
    margin-top: 15px;
    margin-left: 25px;
}
/* 主板部分 */
.middle{
    width: 100%;
    height: 600px;
    display: flex;
}
.middle .captions{
    width: 50%;
}
.topCaption{
    width: 100%;
    height: 180px;
    border-bottom: rgb(168, 167, 167) 1px solid;
}
.fontCaption{
    width: 80%;
    margin: 0 auto;
    height: 180px;
}
.fontCaption>p{
    font-size: 30px;
    text-align: center;
}
.fontCaption>div{
    height: 130px;
    font-size: 14px;
    /* margin-left: 80px; */
    text-align: center;
}
.smallFont>span{
    color: chocolate;
}
.bottomCaption{
    padding-top: 40px;
}
.bottomCaption>p{
    text-align: center;
}
.middle .musicPlayer{
    width: 50%;
    background-color: white;
    position: relative;
}
.picture{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border:2px solid green;
    overflow: hidden;
    position: absolute;
    left: 175px;
    top: 55px;
}
.picture>img{
    width: 250px;
}
#player{
    width: 42px;
    height: 42px;
    position: absolute;
    left: 110px;
    top: 320px;
    background-image: url(./images/6.jpg);
    background-position: -160px 0px;
}
.outerBox{
    width: 300px;
    height: 7px;
    background-color: rgb(179, 178, 178);
    position: absolute;
    left: 170px;
    top: 340px;
    
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(204, 91, 46);
    position: inherit;
    left: -5px;
    top: -2px;
}
.innerBox{
    width: 0px;
    height: 7px;
    background-color: rgb(228, 133, 89);
    left: 170px;
    top: 340px;
}
.showTime{
    width: 80px;
    height: 12px;
    font-size: 12px;
    color: rgb(168, 164, 164);
    position: absolute;
    right: 60px;
    top: 335px;
}
.mutedBtn{
    background-image: url(./images/6.jpg);
    width: 30px;
    height: 20px;
    position: absolute;
    background-position: -65px 0px ;
    right: 68px;
    top:336px;
}
.downloadBtn{
    background-image: url(./images/6.jpg);
    background-position: 0px 40px;
    width: 200px;
    height: 40px;
    position: absolute;
    left: 220px;
    top: 400px;
}
.downloadImg{
    background-image: url(./images/6.jpg);
    width: 18px;
    height: 16px;
    position: inherit;
    left: 10px;
    top: 11px;
}
.downloadBtn>span{
    position: inherit;
    left: 35px;
    top: 7px;
}
.talkCaption{
    height: 600px;
    /* background-color: rgb(192, 233, 151); */
}
.talkOuter{
    width: 700px;
    margin: 0 auto;
    height: 100%;
    /* background-color: rgb(197, 155, 155); */
}
.formtalk{
    width: 600px;
    margin: 0 auto;
    height: 200px;
    background-color: lightblue;
}
.bottomtalk{
    width: 600px;
    margin: 0 auto;
    height: 350px;
    /* background-color: rgb(245, 236, 156); */
}
.title{
    color: lightslategray;
    height: 40px;
    line-height: 40px;
    border-bottom: lightslategray 1px solid;
    font-size: 14px;
    padding-left: 20px;
}
.title>span{
    font-size: 10px;
}
.formtalk>img{
    width: 40px;
    height: 45px;
    margin-left: 20px;
    position: relative;
    top:-70px;
    /* margin-top: 10px; */
}
#talkPot{
    width: 520px;
    height: 110px;
    position: relative;
    /* top: -50px;
    left: 70px; */
    /* color: rgb(158, 155, 155); */
}
.subBtn{
    position: relative;
    /* top: -45px; */
    left: 450px;
    background-color: rgb(236, 173, 37);
    color: white;
    border: rgb(236, 173, 37) 1px solid;
    width: 80px;
}
.formtalk>span{
    color: rgb(73, 73, 73);
    font-size: 12px;
    position: relative;
    /* top: -40px; */
    left: 300px;
}
.historyTalk>div{
    border-bottom: 1px rgb(146, 146, 146) double;
    height: 80px;
    /* display: flex; */
    position: relative;
}
.textNodeStyle{
    height: 60px;
    position :relative;
    left:50px;
    top:-40px;
}
.timeNodeStyle{
    height: 20px;
    position :relative;
    left:50px;
    top:-50px;
    font-size: 10px;
}
.share{
    position: absolute;
    font-size: 10px;
    left: 370px;
    top: 0px;
}
.share:hover{
    color: rgb(185, 38, 178);
}
.response{
    position: absolute;
    font-size: 12px;
    left: 370px;
    top: 60px;
}
.response:hover{
    color: rgb(30, 30, 212);
}
.delete{
    position: absolute;
    font-size: 12px;
    left: 300px;
    top: 60px;
}
.delete:hover{
    color: rgb(241, 77, 48);
}
.pages{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 40px;
}
.pages>div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(108, 137, 197);
    font-weight: bolder;
    text-align: center;
}